<div class="sidebar-wrapper">
  <!-- ── Topbar ── -->
  <div class="topbar">
    <div class="topbar-content">
      <span class="topbar-username">{{ userName }}</span>
      @if (showNav) {
        <!-- <app-notification-bell></app-notification-bell> -->
        <button type="button" class="btn-logout" (click)="logout()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="14"
            height="14"
            fill="currentColor"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0
            0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0
            1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0
            0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z"
            />
            <path
              fill-rule="evenodd"
              d="M15.854 8.354a.5.5 0 0 0
            0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0
            1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"
            />
          </svg>
          Logout
        </button>
      }
    </div>
  </div>

  <!-- ── Nav pill ── -->
  <div class="sidebar">
    <nav class="nav-pill">
      <!-- Glider (active highlight) -->
      <span class="glider" [style.transform]="gliderTransform"></span>

      <!-- ── STUDENT ── -->
      @if (isStudent) {
        <a
          class="nav-item"
          routerLink="/balance"
          routerLinkActive
          #balanceLink="routerLinkActive"
          [class.active]="balanceLink.isActive"
          (click)="setActive(0)"
        >
          <svg width="18" height="18" fill="currentColor" viewBox="0 0 16 16">
            <path
              d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2
              2H2a2 2 0 0 1-2-2zm2.5 1a.5.5 0 0 0-.5.5v1a.5.5 0 0 0
              .5.5h2a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5z"
            />
          </svg>
          <span>Balance</span>
        </a>

        <a
          class="nav-item"
          routerLink="/scan"
          routerLinkActive
          #scanLink="routerLinkActive"
          [class.active]="scanLink.isActive"
          (click)="setActive(1)"
        >
          <svg width="18" height="18" fill="currentColor" viewBox="0 0 16 16">
            <path
              d="M0 .5A.5.5 0 0 1 .5 0h3a.5.5 0 0 1 0 1H1v2.5a.5.5 0
              0 1-1 0zm12 0a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5v3a.5.5 0 0
              1-1 0V1h-2.5a.5.5 0 0 1-.5-.5M.5 12a.5.5 0 0 1 .5.5V15h2.5a.5.5
              0 0 1 0 1h-3a.5.5 0 0 1-.5-.5v-3a.5.5 0 0 1 .5-.5m15 0a.5.5 0 0
              1 .5.5v3a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1 0-1H15v-2.5a.5.5 0 0 1
              .5-.5M4 4h1v1H4z"
            />
            <path d="M7 2H2v5h5zM3 3h3v3H3zm2 8H4v1h1z" />
            <path d="M7 9H2v5h5zm-4 1h3v3H3zm8-6h1v1h-1z" />
            <path
              d="M9 2h5v5H9zm1 1v3h3V3zM8 8v2h1v1H8v1h2v-2h1v2h1v-1h2v-1h-3V8zm2
              2H9V9h1zm4 2h-1v1h-2v1h3zm-4 2v-1H8v1z"
            />
            <path d="M12 9h2V8h-2z" />
          </svg>
          <span>QR</span>
        </a>

        <a
          class="nav-item"
          routerLink="/history"
          routerLinkActive
          #historyLink="routerLinkActive"
          [class.active]="historyLink.isActive"
          (click)="setActive(2)"
        >
          <svg width="18" height="18" fill="currentColor" viewBox="0 0 16 16">
            <path
              d="M2 1.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-1v1a4.5 4.5
              0 0 1-2.557 4.06c-.29.139-.443.377-.443.59v.7c0
              .213.154.451.443.59A4.5 4.5 0 0 1 12.5 13v1h1a.5.5 0 0 1 0
              1h-11a.5.5 0 1 1 0-1h1v-1a4.5 4.5 0 0 1 2.557-4.06c.29-.139.443-.377.443-.59v-.7c0-.213-.154-.451-.443-.59A4.5
              4.5 0 0 1 3.5 3V2h-1a.5.5 0 0 1-.5-.5m2.5.5v1a3.5 3.5 0 0 0
              1.989 3.158c.533.256 1.011.791 1.011 1.491v.702s.18.149.5.149.5-.15.5-.15v-.7c0-.701.478-1.236
              1.011-1.492A3.5 3.5 0 0 0 11.5 3V2z"
            />
          </svg>
          <span>History</span>
        </a>
      }

      <!-- ── SELLER ── -->
      @if (isSeller) {
        <a
          class="nav-item"
          routerLink="/scantopay"
          routerLinkActive
          #scanPayLink="routerLinkActive"
          [class.active]="scanPayLink.isActive"
          (click)="setActive(0)"
        >
          <svg width="18" height="18" fill="currentColor" viewBox="0 0 16 16">
            <path
              d="M0 .5A.5.5 0 0 1 .5 0h3a.5.5 0 0 1 0 1H1v2.5a.5.5 0 0
              1-1 0zm12 0a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5v3a.5.5 0 0
              1-1 0V1h-2.5a.5.5 0 0 1-.5-.5M.5 12a.5.5 0 0 1 .5.5V15h2.5a.5.5
              0 0 1 0 1h-3a.5.5 0 0 1-.5-.5v-3a.5.5 0 0 1 .5-.5m15 0a.5.5 0 0
              1 .5.5v3a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1 0-1H15v-2.5a.5.5 0 0 1
              .5-.5M4 4h1v1H4z"
            />
            <path d="M7 2H2v5h5zM3 3h3v3H3zm2 8H4v1h1z" />
            <path d="M7 9H2v5h5zm-4 1h3v3H3zm8-6h1v1h-1z" />
            <path
              d="M9 2h5v5H9zm1 1v3h3V3zM8 8v2h1v1H8v1h2v-2h1v2h1v-1h2v-1h-3V8zm2
              2H9V9h1zm4 2h-1v1h-2v1h3zm-4 2v-1H8v1z"
            />
            <path d="M12 9h2V8h-2z" />
          </svg>
          <span>Scan QR</span>
        </a>

        <a
          class="nav-item"
          routerLink="/sellerhistory"
          routerLinkActive
          #sellerHistLink="routerLinkActive"
          [class.active]="sellerHistLink.isActive"
          (click)="setActive(1)"
        >
          <svg width="18" height="18" fill="currentColor" viewBox="0 0 16 16">
            <path
              d="M2 1.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-1v1a4.5 4.5
              0 0 1-2.557 4.06c-.29.139-.443.377-.443.59v.7c0
              .213.154.451.443.59A4.5 4.5 0 0 1 12.5 13v1h1a.5.5 0 0 1 0
              1h-11a.5.5 0 1 1 0-1h1v-1a4.5 4.5 0 0 1
              2.557-4.06c.29-.139.443-.377.443-.59v-.7c0-.213-.154-.451-.443-.59A4.5
              4.5 0 0 1 3.5 3V2h-1a.5.5 0 0 1-.5-.5m2.5.5v1a3.5 3.5 0 0 0
              1.989 3.158c.533.256 1.011.791 1.011 1.491v.702s.18.149.5.149.5-.15.5-.15v-.7c0-.701.478-1.236
              1.011-1.492A3.5 3.5 0 0 0 11.5 3V2z"
            />
          </svg>
          <span>History</span>
        </a>

        <a
          class="nav-item"
          routerLink="/claimvoucher"
          routerLinkActive
          #claimLink="routerLinkActive"
          [class.active]="claimLink.isActive"
          (click)="setActive(2)"
        >
          <svg width="18" height="18" fill="currentColor" viewBox="0 0 16 16">
            <path
              d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0
              2-2V2a2 2 0 0 0-2-2M8.5 4.5v.634l.549-.317a.5.5 0 1 1 .5.866L9
              6l.549.317a.5.5 0 1 1-.5.866L8.5 6.866V7.5a.5.5 0 0 1-1
              0v-.634l-.549.317a.5.5 0 1 1-.5-.866L7 6l-.549-.317a.5.5 0 0 1
              .5-.866l.549.317V4.5a.5.5 0 1 1 1 0M5.5 9h5a.5.5 0 0 1 0
              1h-5a.5.5 0 0 1 0-1m0 2h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1"
            />
          </svg>
          <span>Claim</span>
        </a>
      }

      <!-- ── FINANCE ── -->
      @if (isFinance) {
        @if (canView('VIEW_FLOAT')) {
          <a
            class="nav-item"
            routerLink="/floatmoneylist"
            routerLinkActive
            #floatLink="routerLinkActive"
            [class.active]="floatLink.isActive"
            (click)="setActive(0)"
          >
            <svg width="18" height="18" fill="currentColor" viewBox="0 0 16 16">
              <path
                d="M5.929 1.757a.5.5 0 1 0-.858-.514L2.217 6H.5a.5.5 0 0
                0-.5.5v1a.5.5 0 0 0 .5.5h.623l1.844 6.456A.75.75 0 0 0 3.69
                15h8.622a.75.75 0 0 0 .722-.544L14.877 8h.623a.5.5 0 0 0
                .5-.5v-1a.5.5 0 0 0-.5-.5h-1.717L10.93 1.243a.5.5 0 1
                0-.858.514L12.617 6H3.383zM4 10a1 1 0 0 1 2 0v2a1 1 0 1 1-2
                0zm3 0a1 1 0 0 1 2 0v2a1 1 0 1 1-2 0zm4-1a1 1 0 0 1 1 1v2a1
                1 0 1 1-2 0v-2a1 1 0 0 1 1-1"
              />
            </svg>
            <span>Float</span>
          </a>
        }
        @if (canView('MANAGE_VOUCHER')) {
          <a
            class="nav-item"
            routerLink="/creditvoucher"
            routerLinkActive
            #creditLink="routerLinkActive"
            [class.active]="creditLink.isActive"
            (click)="setActive(1)"
          >
            <svg width="18" height="18" fill="currentColor" viewBox="0 0 16 16">
              <path
                d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v1H0zm0 3v5a2 2 0
                0 0 2 2h12a2 2 0 0 0 2-2V7zm3 2h1a1 1 0 0 1 1 1v1a1 1 0 0
                1-1 1H3a1 1 0 0 1-1-1v-1a1 1 0 0 1 1-1"
              />
            </svg>
            <span>Credit</span>
          </a>
        }
        @if (canView('MANAGE_STUDENTS')) {
          <a
            class="nav-item"
            routerLink="/managestudent"
            routerLinkActive
            #studLink="routerLinkActive"
            [class.active]="studLink.isActive"
            (click)="setActive(2)"
          >
            <svg width="18" height="18" fill="currentColor" viewBox="0 0 16 16">
              <path d="M8 9.05a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5" />
              <path
                d="M1 1a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h.5a.5.5 0 0 0
                .5-.5.5.5 0 0 1 1 0 .5.5 0 0 0 .5.5h9a.5.5 0 0 0
                .5-.5.5.5 0 0 1 1 0 .5.5 0 0 0 .5.5h.5a1 1 0 0 0
                1-1V3a1 1 0 0 0-1-1H6.707L6 1.293A1 1 0 0 0 5.293 1zm0
                1h4.293L6 2.707A1 1 0 0 0 6.707 3H15v10h-.085a1.5 1.5 0 0
                0-2.4-.63C11.885 11.223 10.554 10 8 10c-2.555
                0-3.886 1.224-4.514 2.37a1.5 1.5 0 0 0-2.4.63H1z"
              />
            </svg>
            <span>Students</span>
          </a>
        }
      }

      <!-- ── SUPERADMIN ── -->
      @if (isSuperAdmin) {
        <a
          class="nav-item"
          routerLink="/managestudent"
          routerLinkActive
          #saStudLink="routerLinkActive"
          [class.active]="saStudLink.isActive"
          (click)="setActive(0)"
        >
          <svg width="18" height="18" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8 9.05a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5" />
            <path
              d="M1 1a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h.5a.5.5 0 0 0
              .5-.5.5.5 0 0 1 1 0 .5.5 0 0 0 .5.5h9a.5.5 0 0 0
              .5-.5.5.5 0 0 1 1 0 .5.5 0 0 0 .5.5h.5a1 1 0 0 0
              1-1V3a1 1 0 0 0-1-1H6.707L6 1.293A1 1 0 0 0 5.293 1zm0
              1h4.293L6 2.707A1 1 0 0 0 6.707 3H15v10h-.085a1.5 1.5 0 0
              0-2.4-.63C11.885 11.223 10.554 10 8 10c-2.555
              0-3.886 1.224-4.514 2.37a1.5 1.5 0 0 0-2.4.63H1z"
            />
          </svg>
          <span>Students</span>
        </a>
        <a
          class="nav-item"
          routerLink="/managestaff"
          routerLinkActive
          #saStudLink="routerLinkActive"
          [class.active]="saStudLink.isActive"
          (click)="setActive(1)"
        >
          <svg width="18" height="18" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8 9.05a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5" />
            <path
              d="M1 1a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h.5a.5.5 0 0 0
              .5-.5.5.5 0 0 1 1 0 .5.5 0 0 0 .5.5h9a.5.5 0 0 0
              .5-.5.5.5 0 0 1 1 0 .5.5 0 0 0 .5.5h.5a1 1 0 0 0
              1-1V3a1 1 0 0 0-1-1H6.707L6 1.293A1 1 0 0 0 5.293 1zm0
              1h4.293L6 2.707A1 1 0 0 0 6.707 3H15v10h-.085a1.5 1.5 0 0
              0-2.4-.63C11.885 11.223 10.554 10 8 10c-2.555
              0-3.886 1.224-4.514 2.37a1.5 1.5 0 0 0-2.4.63H1z"
            />
          </svg>
          <span>Staffs</span>
        </a>
        <a
          class="nav-item"
          routerLink="/manageseller"
          routerLinkActive
          #saSelLink="routerLinkActive"
          [class.active]="saSelLink.isActive"
          (click)="setActive(2)"
        >
          <svg width="18" height="18" fill="currentColor" viewBox="0 0 16 16">
            <path d="M10 9.05a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5" />
            <path
              d="M2 1a2 2 0 0 0-2 2v9a2 2 0 0 0 2 2h12a2 2 0 0 0
              2-2V3a2 2 0 0 0-2-2zM1 3a1 1 0 0 1 1-1h2v2H1zm4 10V2h9a1 1 0 0
              1 1 1v9c0 .285-.12.543-.31.725C14.15 11.494 12.822 10 10
              10c-3.037 0-4.345 1.73-4.798 3zm-4-2h3v2H2a1 1 0 0 1-1-1zm3-1H1V8h3zm0-3H1V5h3z"
            />
          </svg>
          <span>Sellers</span>
        </a>

        <a
          class="nav-item"
          routerLink="/floatmoneylist"
          routerLinkActive
          #saFloatLink="routerLinkActive"
          [class.active]="saFloatLink.isActive"
          (click)="setActive(3)"
        >
          <svg width="18" height="18" fill="currentColor" viewBox="0 0 16 16">
            <path
              d="M5.929 1.757a.5.5 0 1 0-.858-.514L2.217 6H.5a.5.5 0 0
              0-.5.5v1a.5.5 0 0 0 .5.5h.623l1.844 6.456A.75.75 0 0 0 3.69
              15h8.622a.75.75 0 0 0 .722-.544L14.877 8h.623a.5.5 0 0 0
              .5-.5v-1a.5.5 0 0 0-.5-.5h-1.717L10.93 1.243a.5.5 0 1
              0-.858.514L12.617 6H3.383zM4 10a1 1 0 0 1 2 0v2a1 1 0 1 1-2
              0zm3 0a1 1 0 0 1 2 0v2a1 1 0 1 1-2 0zm4-1a1 1 0 0 1 1 1v2a1
              1 0 1 1-2 0v-2a1 1 0 0 1 1-1"
            />
          </svg>
          <span>Float</span>
        </a>

        <a
          class="nav-item"
          routerLink="/creditvoucher"
          routerLinkActive
          #saVouLink="routerLinkActive"
          [class.active]="saVouLink.isActive"
          (click)="setActive(4)"
        >
          <svg width="18" height="18" fill="currentColor" viewBox="0 0 16 16">
            <path
              d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v1H0zm0 3v5a2 2 0
              0 0 2 2h12a2 2 0 0 0 2-2V7zm3 2h1a1 1 0 0 1 1 1v1a1 1 0 0
              1-1 1H3a1 1 0 0 1-1-1v-1a1 1 0 0 1 1-1"
            />
          </svg>
          <span>Voucher</span>
        </a>

        <a
          class="nav-item"
          routerLink="/permissions"
          routerLinkActive
          #saPermLink="routerLinkActive"
          [class.active]="saPermLink.isActive"
          (click)="setActive(5)"
        >
          <svg width="18" height="18" fill="currentColor" viewBox="0 0 16 16">
            <path
              d="M5.338 1.59a61 61 0 0 0-2.837.856.48.48 0 0
              0-.328.39c-.554 4.157.726 7.19 2.253 9.188a10.7 10.7 0 0 0
              2.287 2.233c.346.244.652.42.893.533q.18.085.293.118a1 1 0 0 0
              .101.025 1 1 0 0 0 .1-.025q.114-.034.294-.118c.24-.113.547-.29.893-.533a10.7
              10.7 0 0 0 2.287-2.233c1.527-1.997 2.807-5.031
              2.253-9.188a.48.48 0 0 0-.328-.39c-.651-.213-1.75-.56-2.837-.855C9.552
              1.29 8.531 1.067 8 1.067c-.53 0-1.552.223-2.662.524z"
            />
            <path
              d="M9.5 6.5a1.5 1.5 0 0 1-1 1.415l.385 1.99a.5.5 0 0
              1-.491.595h-.788a.5.5 0 0 1-.49-.595l.384-1.99a1.5 1.5 0 1 1
              2-1.415"
            />
          </svg>
          <span>Perms</span>
        </a>
        <a
          class="nav-item"
          routerLink="/announcements"
          routerLinkActive
          #saAnnLink="routerLinkActive"
          [class.active]="saAnnLink.isActive"
          (click)="setActive(6)"
        >
          <svg width="18" height="18" fill="currentColor" viewBox="0 0 16 16">
            <path
              d="M13 2.5a1.5 1.5 0 0 1 3 0v11a1.5 1.5 0 0 1-3 0v-.214c-2.162-1.241-4.49-1.843-6.912-2.083l.405 2.712A1 1 0 0 1 5.51 15.1h-.548a1 1 0 0 1-.916-.599l-1.85-3.49-.202-.003A2.014 2.014 0 0 1 0 9V7a2.02 2.02 0 0 1 1.992-2.013 75 75 0 0 0 2.483-.075c3.043-.154 6.148-.849 8.525-2.199zm1 0v11a.5.5 0 0 0 1 0v-11a.5.5 0 0 0-1 0m-1 1.35c-2.344 1.205-5.209 1.842-8 2.033v4.233c2.791.19 5.656.827 8 2.033zM5.51 14.1l-.37-2.46H.992A1.01 1.01 0 0 0 2 13h1.52zm-2.176-4.096L3.5 8.5H2v1z"
            />
          </svg>
          <span>Announce</span>
        </a>
        <a
          class="nav-item"
          routerLink="/authlog"
          routerLinkActive
          #saLogLink="routerLinkActive"
          [class.active]="saLogLink.isActive"
          (click)="setActive(7)"
        >
          <svg width="18" height="18" fill="currentColor" viewBox="0 0 16 16">
            <path
              fill-rule="evenodd"
              d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0
              0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0
              1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1
              0 1h-9a.5.5 0 0 1-.5-.5M3.854 2.146a.5.5 0 0 1 0 .708l-1.5
              1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2
              3.293l1.146-1.147a.5.5 0 0 1 .708 0m0 4a.5.5 0 0 1 0 .708l-1.5
              1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2
              7.293l1.146-1.147a.5.5 0 0 1 .708 0m0 4a.5.5 0 0 1 0 .708l-1.5
              1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147
              1.146-1.147a.5.5 0 0 1 .708 0"
            />
          </svg>
          <span>Logs</span>
        </a>
        <a
          class="nav-item"
          routerLink="/wrong-credit"
          routerLinkActive
          #saWcLink="routerLinkActive"
          [class.active]="saWcLink.isActive"
          (click)="setActive(8)"
        >
          <svg width="18" height="18" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
            <path
              d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z"
            />
          </svg>
          <span>Credit</span>
        </a>
      }
      @if (isAdmin) {
        <a
          class="nav-item"
          routerLink="/managestudent"
          routerLinkActive
          #saStudLink="routerLinkActive"
          [class.active]="saStudLink.isActive"
          (click)="setActive(0)"
        >
          <svg width="18" height="18" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8 9.05a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5" />
            <path
              d="M1 1a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h.5a.5.5 0 0 0
              .5-.5.5.5 0 0 1 1 0 .5.5 0 0 0 .5.5h9a.5.5 0 0 0
              .5-.5.5.5 0 0 1 1 0 .5.5 0 0 0 .5.5h.5a1 1 0 0 0
              1-1V3a1 1 0 0 0-1-1H6.707L6 1.293A1 1 0 0 0 5.293 1zm0
              1h4.293L6 2.707A1 1 0 0 0 6.707 3H15v10h-.085a1.5 1.5 0 0
              0-2.4-.63C11.885 11.223 10.554 10 8 10c-2.555
              0-3.886 1.224-4.514 2.37a1.5 1.5 0 0 0-2.4.63H1z"
            />
          </svg>
          <span>Students</span>
        </a>

        <a
          class="nav-item"
          routerLink="/manageseller"
          routerLinkActive
          #saSelLink="routerLinkActive"
          [class.active]="saSelLink.isActive"
          (click)="setActive(1)"
        >
          <svg width="18" height="18" fill="currentColor" viewBox="0 0 16 16">
            <path d="M10 9.05a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5" />
            <path
              d="M2 1a2 2 0 0 0-2 2v9a2 2 0 0 0 2 2h12a2 2 0 0 0
              2-2V3a2 2 0 0 0-2-2zM1 3a1 1 0 0 1 1-1h2v2H1zm4 10V2h9a1 1 0 0
              1 1 1v9c0 .285-.12.543-.31.725C14.15 11.494 12.822 10 10
              10c-3.037 0-4.345 1.73-4.798 3zm-4-2h3v2H2a1 1 0 0 1-1-1zm3-1H1V8h3zm0-3H1V5h3z"
            />
          </svg>
          <span>Sellers</span>
        </a>

        <a
          class="nav-item"
          routerLink="/floatmoneylist"
          routerLinkActive
          #saFloatLink="routerLinkActive"
          [class.active]="saFloatLink.isActive"
          (click)="setActive(2)"
        >
          <svg width="18" height="18" fill="currentColor" viewBox="0 0 16 16">
            <path
              d="M5.929 1.757a.5.5 0 1 0-.858-.514L2.217 6H.5a.5.5 0 0
              0-.5.5v1a.5.5 0 0 0 .5.5h.623l1.844 6.456A.75.75 0 0 0 3.69
              15h8.622a.75.75 0 0 0 .722-.544L14.877 8h.623a.5.5 0 0 0
              .5-.5v-1a.5.5 0 0 0-.5-.5h-1.717L10.93 1.243a.5.5 0 1
              0-.858.514L12.617 6H3.383zM4 10a1 1 0 0 1 2 0v2a1 1 0 1 1-2
              0zm3 0a1 1 0 0 1 2 0v2a1 1 0 1 1-2 0zm4-1a1 1 0 0 1 1 1v2a1
              1 0 1 1-2 0v-2a1 1 0 0 1 1-1"
            />
          </svg>
          <span>Float</span>
        </a>

        <a
          class="nav-item"
          routerLink="/creditvoucher"
          routerLinkActive
          #saVouLink="routerLinkActive"
          [class.active]="saVouLink.isActive"
          (click)="setActive(3)"
        >
          <svg width="18" height="18" fill="currentColor" viewBox="0 0 16 16">
            <path
              d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v1H0zm0 3v5a2 2 0
              0 0 2 2h12a2 2 0 0 0 2-2V7zm3 2h1a1 1 0 0 1 1 1v1a1 1 0 0
              1-1 1H3a1 1 0 0 1-1-1v-1a1 1 0 0 1 1-1"
            />
          </svg>
          <span>Voucher</span>
        </a>
      }
    </nav>
  </div>
</div>
